<!DOCTYPE html>
<html>
<head>
    <title>Rolls Mania — Order Online</title>
    <link rel="stylesheet" href="order.css">
</head>
<body>

<!-- RESTAURANT HEADER -->
<div class="order-header">
    <h1>Rolls Mania</h1>
    <p>Rolls, Fast Food • ₹200 for one</p>
    <div class="stats">
        <span class="rating">⭐ 4.5</span>
        <span class="delivery-time">• 25 min</span>
    </div>
</div>

<!-- SEARCH & CATEGORIES -->
<div class="order-tools">
    <input type="text" id="menu-search" placeholder="Search in menu..." oninput="filterMenu()">

    <!-- <div class="menu-categories">
        <div class="cat active" onclick="showCategory('all')">All</div>
        <div class="cat" onclick="showCategory('exclusive')">Exclusive</div>
        <div class="cat" onclick="showCategory('sourdough')">Sourdough</div>
        <div class="cat" onclick="showCategory('pizzaMania')">Pizza Mania</div>
        <div class="cat" onclick="showCategory('cheeseBurst')">Cheese Burst</div>
    </div> -->
</div>

<!-- MENU -->
<div class="menu-list" id="menuList">

    <!-- Example Menu Item -->
    <div class="menu-item" data-cat="exclusive">
        <img src="images/alocrunchwrap.jpg">
        <div class="details">
            <h3>Alo Crunch Wrap
            </h3>
            <p>Delightful combination of Classic Roll</p>
            <span>₹299</span>
        </div>
        <button onclick="addToCart('Alo wrap', 299)">Add</button>
    </div>

    <div class="menu-item" data-cat="sourdough">
        <img src="images/chickencrunchwrap.jpg">
        <div class="details">
            <h3>chicken Crunch Wrap</h3>
            <p>Gorument Style</p>
            <span>₹399</span>
        </div>
        <button onclick="addToCart('Gourment', 399)">Add</button>
    </div>

    <div class="menu-item" data-cat="sourdough">
        <img src="images/kathiroll.webp">
        <div class="details">
            <h3>Kathi Roll</h3>
            <p>Kathi Style</p>
            <span>₹259</span>
        </div>
        <button onclick="addToCart('Kathi Roll', 259)">Add</button>
    </div>

    <div class="menu-item" data-cat="sourdough">
        <img src="images/vegsoringrolls.jpg">
        <div class="details">
            <h3>Veg Spring Roll</h3>
            <p>Vegies</p>
            <span>₹439</span>
        </div>
        <button onclick="addToCart('Veg Spring Rolls', 439)">Add</button>
    </div>
    
</div>


<div class="cart-summary">
    <h2>Your Cart</h2>
    <ul id="cartItems"></ul>
    <p>Total: ₹<span id="cartTotal">0</span></p>
    <button onclick="placeOrder()">Place Order</button>
</div>

<script src="data.js"></script>
<script src="restaurant.js"></script>
<script src="order.js"></script>
</body>
</html>
